.catalog-main-category {
  box-sizing: border-box;
  height: 95px;
  margin-bottom: 20px;
  border: 1px solid $main-border-color-1;
  border-radius: 2px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  background-color: $block-bg-color-3;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;

  &:last-of-type {
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.3);
    background-color: $block-bg-color-1;
  }
}

.catalog-main-category__inner {
  padding: 9px;
}

.catalog-main-category__title {
  @include header-reset();
  padding-bottom: 9px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}

.catalog-main-category__title a {
  text-decoration: none;
  color: $hover-font-color-3;
  transition: color 0.3s ease;

  &:hover {
    color: $hover-font-color-2;
  }
}

.catalog-main-category__description {
  @include paragraph-reset();
  max-height: 50px;
  font-size: 13px;
  line-height: 15px;
  color: $main-font-color-2;
  overflow: hidden;
  cursor: default;
}

@media #{$tablet-width} {
  .catalog-main-category {
    flex: 0 1 46.51%;

    &:nth-last-of-type(2) {
      margin-bottom: 0;
    }
  }
}

@media #{$tablet-width} {
  .catalog-main-category {
    flex: 0 1 47.28%;
    height: 90px;
    margin-bottom: 25px;
  }
}
