.main-categories {
  background-color: $main-site-bg-color-2;
}

.main-categories__inner {
  @include container();
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

// < --- Tablet width --- >

@media #{$tablet-width} {

  .main-categories__inner {
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;

    &::after {
      content: "";
      flex: 0 0 200px;
    }
  }
}
