// Фоновый цвет
$site-bg: #f6f6f6;
$header-bg: #ffffff;
$footer-bg: #242d37;
$block-bg-1: #85c875;
$left-side-top-panel-bg: #85c875;
$left-menu-user-info-bg: #242d37;
$left-menu-item-bg: #33414e;
$left-menu-item-bg-hover: #444444;
$left-menu-sub-item-bg: #242d37;
$left-menu-sub-item-bg-hover: #404b57;

// Обводка
$header-border: #d8d8d8;
$block-border: #8a8a8a;
$block-border-green: #85c875;
$form-field-border-active: #85c875;

// Цвет шрифта
$main-font-color: #444444;
$active-font-color: #85c875;
$footer-font-color: #b3cbdd;
$left-menu-main-font-color: #b3cbdd;
$left-sub-menu-main-font-color: #a9b2c0;
