.left-side {
  flex: 0 0 320px;
  width: 320px;

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.left-side__top-panel {
  position: relative;
  padding: 10px 0 10px 30px;
  background-color: $left-side-top-panel-bg;
}

.left-side__logo {
  line-height: 0;
}

.left-side__logo img {

}

.left-side__toggle-view-mode-button {
  position: absolute;
  top: 50%;
  right: -19px;
  transform: translateY(-50%);
  width: 38px;
  height: 38px;
  color: #ffffff;
  border-radius: 50%;
  box-shadow: 1px 0 10px 0 rgba(0, 0, 0, 0.3);
  background-color: $left-side-top-panel-bg;
  cursor: pointer;
  transition: transform 0.5s ease, box-shadow 0.5s ease;

  &--expanded {

  }

  &:hover {
    transform: translate(-5px, -50%);
    box-shadow: 1px 0 10px 0 rgba(0, 0, 0, 0.5);
  }
}

.left-side__toggle-view-mode-button i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
}

.left-side__user-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 10px 20px 30px;
  border-bottom: 2px solid $block-border-green;
  background-color: $left-menu-user-info-bg;
}

.left-side__user-info-avatar {
  margin-right: 20px;
  line-height: 0;
}

.left-side__user-info-avatar img {

}

.left-side__user-info-text {
  color: #ededec;
}

.left-side__user-info-sf-names {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 22px;
}

.left-side__user-info-post {
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
}
